<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Котики</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header-main :: header"></header>

<div class="container mt-5">
    <h1>Котики</h1>
    <div th:each="el : ${cats}" class="alert alert-info mt-2">
        <h3 th:text="${el.name}"/>
        <p th:text="${el.color}"/>
        <p th:text="${el.age}"/>
        <a th:text="${el.breed.breedName}"/>
    </div>
</div>

<div th:insert="blocks/footer-main :: footer"></div>
</body>
</html>